.row {
   margin-right:0;
   margin-left:0;
}

.panel-table {
   border: 0;
}

.panel {
   border: 0;
}

.panel-heading {
   border-bottom-width: 0;
   border-radius: 0px;
   background-color: #333332;
   border-color: #333332;
}

.panel-title {
   color: #FFF;
}

.well {
   margin-top: 20px;
   margin-bottom: 0;
}

.panel-default > .panel-heading {
   color: #FFF;
   background-color: #333332;
   border-color: #333332;
}

.nav {
   margin-bottom: 20px;
   background-color: #000;
}

.nav-tabs > li > a {
   border-radius: 0 0 0 0;
}

a {
   color: #FFF;
}

a:hover {
   color: #000;
}

.tab-pane {
   margin-top: 60px;
}

hr {
   margin-top: 0px;
}

blockquote {
   padding-bottom: 0px;
   font-size: inherit;
}
